<html>
<head>
</head>
<body>
        <div id = "Search Box">
                "hello"
                <form action = "http://localhost:5000/uploader" method = "POST" enctype = "multipart/form-data">
                        <input type = "file" name = "file" />
                        <input type = "submit"/>
                </form>
        Uploaded image: <img src = "{{ image1 }}" height = "50px" width = "80px"/>
	</div>
	<div id = "Detected image">
		Detected images <br/>
		{% for img in imgList %}
		<span> {{ img }} <img src = "static/{{ img }}" height = "30px" width = "50px" /> </span>
		{% endfor %}
	</div>
	<div id = "Recognized people">
		Recognized people
		{% for p in pList %}
		<span> {{ p }} </span>
		{% endfor %}
	</div>
</body>
</html>

